body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 60px;
    margin-right: 20px;
    margin-top: 15px; 
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}    

.nav-bar-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-right: 50px;
    background-color: white;
    color: darkgray;
}

.landing {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    height: 950px;
    margin-top: 20px;

}

.phrase-1 {
    position: absolute;
    text-align: center;
    color: white;
    font: normal;
    font-size: 70px;
    font-weight: bold;
    left: 450px;
    top: 350px;
    margin-right: 100px;
}

.phrase-2 {
    position: absolute;
    text-align: center;
    color: white;
    font: normal;
    font-size: 35px;
    left: 350px;
    top: 550px;
}

.whats {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 500px;
    border-bottom: 1px solid green;
    }

.div-section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.images-2 {
    width: 100px;
}

h2 {
    color:Green: #00B172
}



/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
